$macos9-bg: #ccccff;
$macos9-window-title-bg: #cccccc;
$macos9-window-bg: #eeeeee;
$macos9-window-border: #000;
$macos9-titlebar-active: #000084;
$macos9-text-color: #000;
$macos9-highlight: #000084;
$macos9-font: "Charcoal", "VT323", monospace;
$macos9-button-border: #545454;
$macos9-button-bg: #d3d3d3;
$macos9-menubar-bg: #dddddd;
$macos9-menubar-border: #000;
$macos9-separator-color: #999;
