@use "../../styles/variables.scss" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;
  padding: 10px;
  height: 100%;
}

.socialLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  width: 80px;
  text-decoration: none;
  color: $macos9-text-color;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 0, 132, 0.2);
  }

  span {
    text-align: center;
    line-height: 1.2;
    color: $macos9-text-color;
  }
}

.iconImage {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg,
  img {
    width: 100%;
    height: 100%;
  }
}
